@charset "UTF-8";
#footerDiv{
	margin:0;
	padding:0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height:100px;
	position: fixed;
	bottom: 0;
	border-top: 2px black solid;
	padding:20px;
	background-color: white;
	z-index: 1;
}
#footerDiv button{
	width: 150px;
}