@charset "UTF-8";
footer{
	width: 100%;
	background-color : #f7f7f7;
	position : relative;
 		transform : translateY(-100%);
 		padding: 20px 0px 0px 0px;
}
#footerAtag, #footerPtag{
	width: 90%;
	margin-left:5%;
}
#footerAtag{
	height: 15px;
	line-height: 15px;
}
#footerAtag a{
	text-decoration: none;
	color:black;
}
#footerAtag a:hover{
	text-decoration: underline;
}
#footerPtag{
	font-size: 10px;
}
