@charset "UTF-8";

html, body {
    height: 100%
}

#wrap {
	width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 93px;
    
}

#partyListContainer{
	width: 100%;
}

#partys{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#partys li{
	list-style:none;
	width: 300px;
	height:400px;
	text-align: left;
	margin-left:2%;
	margin-bottom: 3%;
	font-size:0.8vw;
}

#partys li .partyImg{
	width: 300px;
	height: 300px;
	cursor: pointer;
	border-radius: 10px;
}

#partys li .likeBtn{
	width: 25px;
	height:25px;
	cursor: pointer;
	position: relative;
	top: 40px;
	left: 260px;
}

#mapBtn{
	position: absolute;
	bottom: 120px;
	position: fixed;
	left:48%;
	z-index: 1;
}

#wishListUl{
	width: 400px;
}
#newWishList{
	width: 100%;
}
#wishListUl li{
	padding: 5px;
	width: 100%;
	list-style: none;
	height: 100px;
	display: inline-block;
	cursor: pointer;
}
#wishListUl li img{
	width: 100px;
	height : 100px;
	float: left;
}
#wishListUl li strong{
	float: left;
	line-height: 100px;
	margin-left:10%;
	font-size:20px;
}
#newAlias{
	width: 400px;
	height:50px;
	border-radius: 10px;
	border:1px solid black;
	text-align: center;
}
#newAliasBtn{
	width: 400px;
	height: 50px;
	
}
@media (max-width: 1000px){
	#partys li{
		width:80%;
		font-size: 4vw;
		height : 52vh;
	}
	#partys li .partyImg{
		width: 100%;
		height: 35vh;
	}
	
	
	#partys li .likeBtn{
		width: 3vh;
		height: 3vh;
		position: relative;
		left:66vw;
		top:6vh;
	}
	
}
