@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&family=Noto+Sans+KR:wght@300&display=swap');
    * {margin: 0; padding: 0; font-family: 'Hahmlet', serif; font-family: 'Noto Sans KR', sans-serif;}
    
#bookingParty{
	margin: 50px auto;
	width: 35%;
	text-align: center;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 12px;
	padding: 24px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

#bookingBtn {
	width : 50%;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 50px;
	color: white;
	background-color: #FF385C;
	border: none;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
}

#backBtn {
	width : 50%;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 50px;
	color: black;
	background-color: #F5F5F5;
	border: none;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
}

#bookingBtn:hover {
	cursor: pointer;
	background-color: #FF6666;
}

#backBtn:hover {
	cursor: pointer;
	background-color: #DADADA;
}

.bookingParty-title{
	padding: 20px;
}

.bookingParty-title h1{
	margin-bottom: 20px;
}

.bookingParty-title h3{
	margin-top: 10px;
}

.bookingParty-content {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}