@charset "UTF-8";

/* 검색창 및 글 작성 버튼 */
.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 95%;
    margin: 0 auto;
}
   
#writeFreeBoard {
   	width: 100px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: #FF385C;
    color: white;
    cursor: pointer;
    margin-right: 20px;
   }
   
#writeFreeBoard:hover {
   	background-color: #FF6666;
}
   
   /* 검색창 */
#searchFreeBoard {
	margin : 20px;
}

.searchFreeBoard-select {
	border: 1px solid lightgray;
	text-align: center;
	width: 118px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.searchFreeBoard-keyword {
	border: 1px solid lightgray;
	padding: 0 8px;
	width: 200px;
    height: 34px;
    border-radius: 10px;
    margin-right: 10px;
}

.searchFreeBoard-submit {
	width: 70px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: #FF385C;
    color: white;
    cursor: pointer;
}

.searchFreeBoard-submit:hover {
	background-color: #FF6666;
}

/* 게시물 목록 */
#boardtable {
	border-top: 2px solid black;
	margin: 0 auto;
	width: 95%;
    border-collapse: collapse;
    margin-bottom: 122px;
}
  	
  	.boardtable-thead th {
    background-color: #FFE6E6;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

/* 번호 */
#boardtable th:first-child,
#boardtable td:first-child {
    width: 10%; 
}

#boardtable td:first-child {
	text-align: center;
}

/* 제목 */
#boardtable th:nth-child(2),
#boardtable td:nth-child(2) {
    width: 40%; 
}

/* 작성자 */
#boardtable th:nth-child(3),
#boardtable td:nth-child(3) {
    width: 10%; 
}

#boardtable td:nth-child(3){
	text-align: center;
}

/* 작성일시 */
#boardtable th:nth-child(4),
#boardtable td:nth-child(4) {
    width: 30%; 
}

#boardtable td:nth-child(4){
	text-align: center;
}

/* 조회수 */
#boardtable th:nth-child(5),
#boardtable td:nth-child(5) {
    width: 10%; 
}

#boardtable td:nth-child(5){
	text-align: center;
}

#boardtable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#boardtable a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* 페이징 */

/* 페이지 버튼 스타일 */
.paging-link {
	width: 30px; 
    display: inline-block;
    margin: 20px 3px;
    padding: 5px 10px;
    border: 1px solid #D6D6D6;
    background-color: white;
    text-decoration: none;
    border-radius: 3px;
}

/* 현재 페이지의 페이지 버튼 스타일 */
.paging-link:hover {
    background-color: #FFE6E6;
    color: #fff;
    border: 1px solid #D6D6D6;
}