@charset "UTF-8";

form {
	margin: 0 auto;
	margin-bottom: 180px;
	width: 679px;
}

#title {
	width: 100%;
	height: 35px;
	padding: 32px 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid lightgray;
	font-size: 30px;
	outline: none;
}

#context {
	width: 100%;
}

.container {
    display: flex; 
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px; 
}

 .write {
   	width: 100px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: #FF385C;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
   
.write:hover {
   	background-color: #FF6666;
}
   
.back {
  		width: 100px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: #F5F5F5;
    color: black;
    cursor: pointer;
    font-size: 16px;
}
   
.back:hover {
   	background-color: #DADADA;
}