@charset "UTF-8";

#perWishlist-title{
   	margin-left: 40px;
   	margin-top: 20px;
}
   
#perWishlist-content{
   	width: 90%;
   	margin: 0 auto;
}
   
ul {
    display: flex;
    flex-wrap: wrap;
	list-style-type : none;
	justify-content: space-around;
	margin-bottom: 250px;
	padding-left: 0;
	padding: 0 20px;
}
	
.perWishlist-li {
	padding: 10px;
	width: 300px;
	height: 400px;
       margin : 20px;
       margin-bottom : 80px;
       text-decoration: none;
}

.perWishlist-li a {
	 text-decoration: none;
	 color: black;
}

.partyImg {
	width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 15px;
}

.heart {
   	width: 30px; /* 원하는 너비로 설정 */
	height: auto; /* 너비에 따라 자동으로 높이를 조절 */
   	cursor: pointer;
   	position: relative;
   	top: 95px;
  		left: 255px;
}
