@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&family=Noto+Sans+KR:wght@300&display=swap');
* {margin: 0; padding: 0; font-family: 'Hahmlet', serif; font-family: 'Noto Sans KR', sans-serif;}
  
#report {
  	margin: 0 auto;
  	text-align: center;
}
  
#report-title {
  	margin-top : 10px;
  	margin-bottom : 15px;
}
  
#report-toMid {
  	margin-left: 30px;
  	text-align: left;
}
  
#report-select-title {
   margin-left: 30px;
   margin-top: 10px;
   text-align: left;
}
  
#report-select {
  	margin-left: 30px;
  	text-align: left;
}
  
#report-reason-title {
  	margin-left: 30px;
   margin-top: 10px;
   text-align: left;
}
  
.context {
  	width: 84%;
  	height: 55px;
}
  
.submit {
  	margin-top: 15px;
  	padding: 5px;
	width: 70px;
	background-color: #DADADA;
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	outline: none;
}
  
.submit:hover {
  	background-color: #E9E9E9;
}
  
.close {
  	margin-top: 15px;
  	margin-left: 20px;
  	padding: 5px;
	width: 70px;
	background-color: #DADADA;
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	outline: none;
}
  
.close:hover {
  	background-color: #E9E9E9;
}